<h1 class="text-4xl my-10 text-black flex justify-center items-center"> Register </h1>

<div class="relative sm:max-w-md sm:mx-auto mt-6 mb-10">
    <form [formGroup]="registerForm" (ngSubmit)="monFormEstSoumis()">
  <div class=" px-8 py-6 mt-4 text-left bg-white dark:bg-[#101828] rounded-xl shadow-lg" >
    <div class="flex flex-col justify-center items-center select-none">
      <div class="flex flex-col items-center justify-center gap-2 mb-8">
        <p class="m-0 text-2xl font-semibold dark:text-white">
          Create your account
        </p>
        <span class="m-0 text-xs max-w-[90%] text-center text-[#8B8E98]"
          >Get started with our app, just start section and enjoy experience.
        </span>
      </div>
    <div class="flex flex-row items-center gap-4">
      <div class="w-full flex flex-col gap-2">
        <label for="firstName" class="font-semibold text-md text-gray-300">Firtname</label>
        <input
        formControlName="firstName"
          placeholder="Tom"
          type="text"
          id="firstName"
          size="50"
          class="border rounded-lg px-3 py-2 mb-5 text-sm w-full outline-none text-gray-500"
        />
      </div>
      <div class="w-full flex flex-col gap-2">
        <label for="name" class="font-semibold text-md text-gray-300">Name</label>
        <input
        formControlName="name"
          placeholder="Riddle"
          type="text"
          id="name"
          class="border rounded-lg px-3 py-2 mb-5 text-sm w-full outline-none text-gray-500"
        />
      </div>
    </div>
      <div class="w-full flex flex-col gap-2">
        <label for="email" class="font-semibold text-md text-gray-300">Email</label>
        <input
        formControlName="email"
          placeholder="votre.email@example.com"
          type="email"
          id="email"
          class="border rounded-lg px-3 py-2 mb-5 text-sm w-full outline-none text-gray-500"
        />
      </div>
      <div class="flex flex-row items-center gap-4">
      <div class="w-full flex flex-col gap-2">
        <label for="birthDate" class="font-semibold text-md text-gray-300">Birth Date</label>
        <input
        formControlName="birthDate"
          placeholder="birthDate"
          type="text"
          id="birthDate"
          required
          size="50"
          class="border rounded-lg px-3 py-2 mb-5 text-sm w-full outline-none text-gray-500"
        />
      </div>
      <div class="w-full flex flex-col gap-2">
        <label for="billingAddress" class="font-semibold text-md text-gray-300">Billing Address</label>
        <input
        formControlName="billingAddress"
          placeholder="23 Rue de Paris, 75000 Paris"
          type="text"
          id="billingAddress"
          size="50"
          class="border rounded-lg px-3 py-2 mb-5 text-sm w-full outline-none text-gray-500"
        />
      </div>
      </div>
      <div class="w-full flex flex-col gap-2">
        <label for="password" class="font-semibold text-md text-gray-300">Password</label>
        <input
        formControlName="password"
          type="password"
          id="password"
          placeholder="•••"
          class="border rounded-lg px-3 py-2 mb-5 text-sm w-full outline-none text-gray-500"
        />
      </div>
      <div>
        <button
          class="py-1 px-8 dark:bg-[#f4d348] dark:hover:bg-[#c1a01a] focus:ring-offset-blue-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg cursor-pointer select-none"
        >
          Register
        </button>
      </div>
      <p class="mt-6 text-center text-gray-300">
          You have an account?
          <a routerLink="/app-login" class="text-white font-semibold hover:underline"
            >Log In</a
          >
        </p>
    </div>
  </div>
  </form>

</div>

