<h1 class="text-4xl my-12 font- text-black flex justify-center items-center"> Spell's List </h1>

<div class="flex flex-wrap justify-center items-center gap-10 mb-10">
    @for ( spell of spells; track spell.id) {
    <div class="w-[20%] bg-[#101828] p-6 rounded-lg ">
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-[#c1a01a]">{{ spell.name }}</h5>
        </a>
        <p class="mb-3 font-normal text-white"><strong>Utility:</strong> {{ spell.description }}</p>
    </div>
    }
</div>