<h1 class="text-4xl mt-12 font-medium text-black flex justify-center items-center">Welcome on Pottermore</h1>

<div class="flex flex-wrap justify-center items-center w-[95%] my-10 mx-auto gap-10">
    @for (character of characters; track character.id) {
        <a [routerLink]="['/app-character-detail', character.id]" class="cursor-pointer w-[20%] bg-[#101828] rounded-3xl text-white p-4 flex flex-col items-start justify-center gap-3 hover:bg-gray-900 hover:shadow-2xl hover:shadow-[#c1a01a] transition-shadow">
        <div class="w-full h-40 rounded-2xl overflow-hidden">
            <img src="{{ character.image }}" alt="{{ character.name }}" class="w-full h-full object-cover">
        </div>
        <div>
            <p class="font-bold">{{ character.name }}</p>
            <p class="">Actor : <strong>{{ character.actor}}</strong></p>
            <p>{{ character.alternate_names}}</p>
        </div>
        <span [class]="getHouseClass(character.house)">{{ character.house }} </span>
    </a>
    }
</div>